/********** Template CSS **********/
:root {
    --primary: #2B2825;
    --secondary: #FAF3EB;
    --light: #FFFFFF;
    --dark: #2B2825;
}

.font-secondary {
    font-family: 'Inter', sans-serif;
}

h1,
h2,
.font-weight-bold {
    font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
    font-weight: 600 !important;
}

p,
span {
    font-family: 'Inter', sans-serif !important;
}

h5,
h6,
.font-weight-medium {
    font-weight: 500 !important;
}

.square-bullet-list {
    list-style: none;
    padding-left: 0;
}
.square-bullet-list li:before {
    content: "\25AA";
    margin-right: 8px;
    color: #fff;
}

.btn {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn-primary {
    color: #FFFFFF;
}

.border-inner {
    position: relative;
}

.border-inner * {
    position: relative;
    z-index: 1;
}

.border-inner::before {
    position: absolute;
    content: "";
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    background: none;
    border: 1px solid var(--light);
    z-index: 0;
}

.btn-square {
    width: 40px;
    height: 40px;
}

.btn-sm-square {
    width: 30px;
    height: 30px;
}

.btn-lg-square {
    width: 50px;
    height: 50px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 5px;
    border-radius: 0;
    z-index: 99;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: 'Oswald', sans-serif;
    padding: 30px 15px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--light);
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 20px 15px;
}

/* .navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    font-weight: bold;
} */

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link  {
        padding: 10px 0;
    }
}

.stroke-dark {
    text-shadow: 2px 2px 4px black !important;
}

.carousel {
    height: fit-content;
}
.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.carousel-inner .carousel-item img {
    height: 400px;
    width: 100% !important;
}
.carousel-caption {
    position: absolute !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    top: 0;
    left: 0;
    width: 100% !important;

}
.carousel-img{
    filter: brightness(50%);
}

.nav-pills {
    width: 100% !important;
    background: transparent !important;
}
.nav-pills .nav-link{
    color: #2B2825 !important;
}

.nav-pills .nav-link.active{
    color: #fff !important;
    background-color: #2B2825;
}

.element:before {
    animation: pulse-border 1500ms ease-out infinite;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
        opacity: 0;
    }
}

.section-title::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 10px;
    left: 50%;
    bottom: 0;
    margin-left: -30px;
    background: var(--primary);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 180px;
    height: 2px;
    left: 50%;
    bottom: 4px;
    margin-left: -90px;
    background: var(--primary);
}

.promosx .section-title::after {
    position: absolute;
    content: "";
    width: 180px;
    height: 2px;
    left: 50%;
    bottom: 4px;
    margin-left: -90px;
    background: #fff;
}

.promosx .section-title::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 10px;
    left: 50%;
    bottom: 0;
    margin-left: -30px;
    background: #fff;
}

.contact::after {
    position: absolute;
    content: "";
    width: 100%;
    height: calc(100% - 45px);
    top: 135px;
    left: 0;
    background: linear-gradient(rgba(43, 40, 37, .9), rgba(43, 40, 37, .9)), url(../img/bg.jpg) center center no-repeat;
    background-size: cover;
    z-index: -1;
}

.contact::after {
    background: linear-gradient(rgba(43, 40, 37, .5), rgba(43, 40, 37, .5)), url(../img/bg.jpg) center center no-repeat;
    background-size: cover;
}

.newcommers {
    background: url(../img/body.jpg);
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.bg-promos {
    background: url(../img/body.jpg);
    position: relative;
    overflow: hidden;
}

.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
    filter: blur(5px)
}

.team-item .team-overlay {
    transition: .5s;
    opacity: 0;
}

.team-item:hover .team-overlay {
    opacity: 1;
}

/* .testimonial-carousel .owl-dots {
    height: 45px;
    margin-top: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 2px;
    width: 10px;
    height: 25px;
    background: #DDDDDD;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    height: 45px;
    background: var(--primary);
} */

.glow-dark {
    /* box-shadow: rgba(0, 0, 0, 0.8) 0 0 90px 33px; */
}
/* .testimonial-carousel {
    border-left: solid 2px rgba(0, 0, 0, 0.8);
    border-radius: solid 2px rgba(0, 0, 0, 0.8);
} */
.testimonial-carousel .owl-item .testimonial-item {
    opacity: .5;
    transition: .5s;
    border-radius: 20px;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    opacity: 1;
}

.bg-contacts {
    background: linear-gradient(rgba(43, 40, 37, .5), rgba(43, 40, 37, .5)), url(../img/bg5.jpg) center center no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 576px){
    .tab-pane img {
        height: 180px !important;
        width: 100%;
    }
    .tab-pane .moto-info {
        max-height: 180px !important;
        overflow-y: auto;
    }
    .list-group {
        font-size: 90% !important;
    }
}